# Server
PORT=8080
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/moment_db?schema=public"

#Email
MAIL_PROVIDER=resend
MAIL_API_KEY="your_resend_api_key"

# Redis (For BullMQ)
REDIS_URL="redis://localhost:6379"

# Auth (JWT)
JWT_SECRET="your_super_secret_min_32_chars_long"
